{% extends "home.html" %}
{% load static%}
  {% block content %}
        <main class="profile-container">
            <section class="profile">
                <header class="profile__header">
                    <div class="profile__avatar-container">
 
                        {% if profile.picture %}
                    <img src="{{ profile.picture.url }}" alt="Placeholder image" style="
    border-radius: 50%;
    width: 160px;
">
                    {% else %}
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="
    border-radius: 50%;
    width: 160px;
">
                    {% endif %}
                    </div>
                    <div class="profile__info">
                        <div class="profile__name">
                            <h1 class="profile__title">{{profile.username}}</h1>
                            {% if follow %}
                            <a href="{%url 'follow' profile.username 0 %}" class="profile__button u-fat-text">Following</a>
                            {% else %}
                            <a href="{%url 'follow' profile.username 1 %}" class="profile__button u-fat-text">Follow</a>
                            {% endif %}
                        </div>
                        <ul class="profile__numbers">
                            <li class="profile__posts">
                                <span class="profile__number u-fat-text">{{post_count}}</span> posts
                            </li>
                            <li class="profile__followers">
                                <span class="profile__number u-fat-text">{{following}}</span> followers
                            </li>
                            <li class="profile__following">
                                <span class="profile__number u-fat-text">{{follower}}</span> following
                            </li>
                        </ul>
                        <div class="profile__bio">
                            <span class="profile__full-name u-fat-text"><p style="padding:3px;">{{profile.profile_info}}</p><br>{{profile.location}}</span>


                        </div>
                    </div>
                </header>
                <div class="profile__pictures">
                    {% for post in posts %}
                    <h2>Posts</h2>
                    <a href="image-detail.html" class="profile-picture">
                        <img
                            src="{{post.picture.url}}"
                            class="profile-picture__picture"
                        />
                        <div class="profile-picture__overlay">
                            <span class="profile-picture__number">
                                <i class="fa fa-heart"></i> {{post.likes}}
                            </span>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </section>
        </main>
 {% endblock %}